apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx-deployment
  labels:
    app: nginx
  annotations:
      kubernetes.io/change-cause: started with version nginx:1.16.1

spec:
  replicas: 3
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      serviceAccountName: dev-user #attach that custom service account
      containers:
      - name: nginx
        image: nginx:1.16.1
        ports:
        - containerPort: 80
